<template>
  <div>
    <main>
      <section class="presentation d-none d-sm-flex">
        <b-container>
          <b-row align-v="center">
            <b-col md="4" offset-md="1">
              <h2 class="text-secondary" v-html="$t('home.intro2.title')"></h2>
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section>
        <b-container>
          <b-row>
            <!-- Right column -->
            <b-col id="funding" lg="5" order-lg="12">
              <p>
                <span id="donations" class="h2" v-text="$n(progress.total, 'eur')"></span><br>
                <span class="text-muted" v-html="`${$t('home.funding.goal')} ${$n(progress.max, 'eur')}`"></span>
              </p>

              <div v-if="activeStep === 0">
                <b-progress :max="100" animated variant="danger" class="h2">
                  <b-progress-bar :value="Math.round(progress.total * 100 / steps[0])">
                    <b>{{ Math.round(progress.total * 100 / steps[0]) }}%</b>
                  </b-progress-bar>
                </b-progress>
                <div class="progress-meter">
                  <div class="meter meter-right" style="width: 100%;">
                    <span class="meter-text">
                      {{ $n(steps[0], 'eur') }}<br><span v-html="$t('home.funding.step-on', {step: 1, max: steps.length})"></span>
                    </span>
                  </div>
                </div>
              </div>
              <div v-else-if="activeStep === 1">
                <b-progress :max="100" animated variant="primary" class="h2">
                  <b-progress-bar :value="Math.round(this.progress.total * 100 / steps[1])">
                    <b>{{ Math.round(this.progress.total * 100 / steps[1]) }}%</b>
                  </b-progress-bar>
                </b-progress>
                <div class="progress-meter">
                  <div class="meter meter-right" style="width: 43%;">
                    <span class="meter-text">
                      {{ $n(steps[1], 'eur') }}<br><span v-html="$t('home.funding.step-on', {step: 2, max: steps.length})"></span>
                    </span></div>
                  <div class="meter meter-right" style="width: 57%;">
                    <span class="meter-text"></span>
                  </div>
                </div>
              </div>
              <div v-else>
                <b-progress :max="100" animated
                  :variant="progress.total < steps[2] ? 'success': 'info'" class="h2">
                  <b-progress-bar :value="Math.round(this.progress.total * 100 / steps[2])">
                    <b>{{ Math.round(this.progress.total * 100 / steps[2]) }}%</b>
                  </b-progress-bar>
                </b-progress>
                <div class="progress-meter">
                  <div class="meter meter-right" style="width: 30%;"><span class="meter-text">{{ $n(steps[2], 'eur') }}</span></div>
                  <div class="meter meter-right" style="width: 30%;"><span class="meter-text"></span></div>
                  <div class="meter meter-right" style="width: 40%;"><span class="meter-text"></span></div>
                </div>
              </div>

              <b-row>
                <p class="col-sm-5">
                  <span id="donators" class="h3" v-html="count"></span><br>
                  <span class="text-muted" v-html="$t('home.funding.donators')"></span>
                </p>
                <p class="col-sm-7">
                  <span v-if="days > 1" id="days" class="h3" v-html="`${days} ${$t('home.funding.days')}`"></span>
                  <span v-else id="days" class="h3" v-html="`${hours} ${$t('home.funding.hours')}`"></span>
                  <br>
                  <span class="text-muted" v-html="$t('home.funding.deadline')"></span>
                </p>
              </b-row>

              <p>
                <b-button block size="lg" variant="primary"
                  v-b-modal.support
                  target="_blank" rel="noopener noreferrer"
                  v-html="$t('form.step1.title')"
                ></b-button>
              </p>

              <hr>
              <!-- Share & follow -->
              <h3 v-html="$t('home.funding.share')"></h3>
              <ShareAndFollow />

              <hr>

              <!-- Initiator => #team -->
              <div class="initiator">
                <h3 v-html="$t('home.funding.who')"></h3>
                <b-card>
                  <b-card-body>
                    <img
                      :src="`${$root['/']}img/biglogo-notxt.png`"
                      class="rounded-circle pull-left"
                    />

                    <ul class="list-unstyled">
                      <li>
                        <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                        <span v-html="$t('home.funding.asso')"></span>
                      </li>
                      <li>
                        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                        <span v-html="$t('home.funding.where')"></span>
                      </li>
                      <li>
                        <i class="fa fa-fw fa-calendar-check-o" aria-hidden="true"></i>
                        <span v-html="$t('home.funding.when-from')"></span>
                        <span>{{ start | moment('ll') }}</span>
                        <span v-html="$t('home.funding.when-to')"></span>
                        <span>{{ end | moment('ll') }}</span>
                      </li>
                    </ul>
                    <p class="text-center">
                      <a href="#team" class="btn btn-sm btn-outline-secondary"
                        v-html="$t('home.funding.more')"></a>
                    </p>
                  </b-card-body>
                </b-card>
              </div>

              <!-- Rewards -->
              <h3 v-html="$t('home.funding.rewards.title')"></h3>
              <div class="rewards">
                <b-card
                  v-for="(reward, j) in rewards" :key="j">
                  <b-card-body>
                    <h4>
                      <span v-html="$t(`home.funding.rewards['d${reward}'].title`)"></span>
                      <br>
                      <span class="h5"
                        v-html="$t(`home.funding.rewards['d${reward}'].subtitle`)"
                      ></span>
                    </h4>

                    <p v-html="$t(`home.funding.rewards['d${reward}'].p`)"></p>
                    <p class="text-center">
                      <img :src="`${$root['/']}img/rewards/${j}.svg`" alt="">
                    </p>
                    <p
                      @click="$root.$emit('bv::toggle::collapse', `donators-${reward}`)"
                      >
                      <span v-html="$t('home.funding.rewards.donators')"></span>
                      <b-badge pill variant="light"
                        :class="donators[`rwd-${reward}`].length > 0 ? 'dropdown-toggle': ''"
                        v-text="donators[`rwd-${reward}`].length" >
                      </b-badge>
                    </p>

                    <donators :donators="donators" :reward="reward"></donators>

                    <p class="text-center">
                      <b-button block variant="primary"
                        v-b-modal.support
                        @click="amount = reward;"
                        v-html="$t('form.step1.title')"
                      ></b-button>
                    </p>
                  </b-card-body>
                </b-card>

                <b-card>
                  <b-card-body>
                    <h4 v-html="$t('home.funding.rewards.free')"></h4>
                    <label for="other1" v-html="$t('form.step1.other')" class="sr-only"></label>
                    <b-input-group size="lg" prepend="€" variant="outline-primary">
                      <b-form-input type="number" id="other1"
                        :placeholder="`${$t('form.step1.other')} (${$t('form.step1.oneshot_ex')})`"
                        v-model.number="amount"
                        step="any" min="1" max="100000"
                        pattern="/^\d+([\.\,]\d{1,2})?$/"
                        >
                      </b-form-input>
                    </b-input-group>
                    <p class="row text-center">
                      <b-button block variant="primary"
                        v-b-modal.support
                        v-html="$t('form.step1.title')"
                      ></b-button>
                    </p>
                  </b-card-body>
                </b-card>

                <h3 v-html="$t('home.funding.sponsors.title')"></h3>
                <p v-html="$t('home.funding.sponsors.intro')"></p>
                <b-card
                  v-for="sponsor in [1000, 2500]" :key="sponsor">
                  <b-card-body>
                    <h4 v-html="$t(`home.funding.sponsors['d${sponsor}'].title`)"></h4>
                    <p v-html="$t(`home.funding.sponsors['d${sponsor}'].p`)"></p>
                    <p class="text-center">
                      <b-button block variant="primary"
                        v-b-modal.support
                        @click="amount = sponsor"
                        v-html="$t('form.step1.title')"
                      ></b-button>
                    </p>
                  </b-card-body>
                </b-card>
              </div>
            </b-col>

            <!-- Main column -->
            <!-- Story -->
            <b-col id="story" lg="7" order-lg="1">
              <project />

              <div id="step">
                <h3 v-html="$t(`home.steps.title`)"></h3>
                <p v-html="$t(`home.steps.intro`)"></p>
                <div v-for="(file, index) in ['minimaliste', 'federe', 'ideal', 'version-1']"
                  :key="index">
                  <b-card
                    no-body class="overflow-hidden">
                    <b-row no-gutters>
                      <b-col md="6" :order-md="(index % 2) * 12">
                        <h4 class="text-center font-weight-bolder">
                          <span v-html="$t(`home.steps.${file}.title`)"></span><br>
                          <i v-if="index < 3"
                            v-html="$n(steps[index], 'eur')"
                          ></i>
                        </h4>
                        <b-card-img :src="`${$root['/']}img/0${index + 1}-palier-mobilizon-${file}.png`" class="rounded-0"></b-card-img>
                      </b-col>
                      <b-col md="6">
                        <b-card-body>
                          <b-card-text>
                            <h5>
                              <img :src="`${$root['/']}img/logo_mbz.svg`" height="35" alt="Mobilizon"><br>
                              <span
                                class="font-weight-bolder text-secondary"
                                v-html="$t(`home.steps.${file}.subtitle`)"
                              ></span>
                            </h5>
                            <ul>
                              <li
                                v-for="n in 4"
                                v-html="$t(`home.steps.${file}.ul[${n-1}]`)"
                              ></li>
                            </ul>
                          </b-card-text>
                        </b-card-body>
                      </b-col>
                    </b-row>
                  </b-card>
                </div>
                <p class="text-italic text-center">
                  <router-link :to="`/${$t('lang')}/news#19-05-14`"
                    v-html="$t(`home.steps.understand`)"
                  ></router-link>
                </p>
              </div>

              <team />
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section class="quote">
        <b-container>
          <b-row>
            <b-col>
              <blockquote class="blockquote text-right">
                <span v-html="$t('home.quote.text')"></span>
                <footer class="blockquote-footer"><a :href="$t('home.quote.blog.link')" v-html="$t('home.quote.blog.text')"></a></footer>
              </blockquote>
            </b-col>
          </b-row>
        </b-container>
      </section>

      <allocation :steps="steps" :active="activeStep" />
      <timeline />
    </main>

    <b-modal id="support" :visible="$root.hash === 'support'"
      :title="$t('form.step1.title')"
      title-tag="h2"
      hide-footer
      >
      <donate-form :amount="amount" />
    </b-modal>
  </div>
</template>

<script>
import ShareAndFollow from '../partials/ShareAndFollow.vue';

import Allocation from './home/Allocation.vue';
import Project from './home/Project.vue';
import Team from './home/Team.vue';
import Timeline from './home/Timeline.vue';
import DonateForm from './home/DonateForm.vue';
import Donators from './home/Donators.vue';

export default {
  components: {
    ShareAndFollow,
    Allocation,
    Project,
    Team,
    Timeline,
    DonateForm,
    Donators
  },
  created() {
    if (!window.vuefsPrerender) {
      fetch(`https://joinmobilizon.org/2019-mbz.json`)
        .then(response => response.json())
        .then((data) => {
          this.list = data.list;
          this.updateData();
        }).catch((err) => {
          console.error('Unable to load donations', err);
        });
    }
  },
  data() {
    // Init count and donators
    const rewards = [1, 25, 42, 88, 130];
    const donators = {};
    for (let j = 0; j < rewards.length; j += 1) {
      donators[`rwd-${rewards[j]}`] = [];
    }

    return {
      start: '2019-05-14',
      end: '2019-07-10',
      days: 0,
      hours: 0,
      progress: {
        total: 0,
        max: 50000,
      },
      steps: [20000, 35000, 50000],
      activeStep: 0,
      list: [],
      rewards,
      donators,
      count: 0,
      amount: 10,
    }
  },
  methods: {
    updateData() {
      this.days = Math.round(((new Date(this.end)).getTime() - (new Date()).getTime()) / (1000 * 60 * 60 * 24));
      this.hours = Math.round(((new Date(this.end)).getTime() - (new Date()).getTime()) / (1000 * 60 * 60));
      // Fill donators

      this.count = this.list.length;

      for (let i = 0; i < this.list.length; i += 1) {
        if (!this.list[i].monthly
          && new Date(this.start) < new Date(this.list[i].date.replace(/ /g,"T"))) {

          this.progress.total += this.list[i].don;

          for (let j = 0; j < this.rewards.length; j += 1) {
            if (this.list[i].don >= this.rewards[j]) {
              if (j !== this.rewards.length - 1) {
                if (this.list[i].don < this.rewards[j + 1]) {
                  this.donators[`rwd-${this.rewards[j]}`].push(this.list[i]);
                }
              } else {
                this.donators[`rwd-${this.rewards[j]}`].push(this.list[i]);
              }
            }
          }
        }
      }

      for (let i = this.steps.length; i > 0; i -= 1) {
        if (this.progress.total > this.steps[i-1]) {
          this.activeStep = i;
        }
      }
    },
  },
}
</script>
